/*==================== GOOGLEFONTS =========================*/
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS =========================*/

  :root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 340;

    /* HSL color mode */
    --first-color:hsl(var(--hue-color), 74%, 70%) ;
    --first-color-second: hsl(var(--hue-color), 74%, 70%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);;
    --title-color: hsl(var(--hue-color), 8%, 15%);;
    --text-color: hsl(var(--hue-color), 8%, 45%);;
    --text-color-light: hsl(var(--hue-color), 8%%, 65%);;
    --input-color:hsl(var(--hue-color), 70%, 96%); ;
    --body-color: hsl(var(--hue-color), 60%, 99%);;
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Gemunu Libre', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*==================== BASE =========================*/
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-fonz-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style:none;
}
a{
  text-decoration: none;
}
img{
  max-width:100%;
  height:auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
  padding: 2rem 0 4rem;
}
.section_title{
  font-size: var(--h1-font-size);
}

.section_subtitle{
  display: block;
  font-size: var(--font-size-small);
  margin-bottom: var(--mb-3);
}

.section_title,.section_subtitle{
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
  max-width: 768px;
  margin: auto;
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);


}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}
.nav_logo,.nav_toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav_logo:hover{
  color: var(--first-color);
}
.nav_toggle{
  color:var(--first-color);
  font-weight: var(--font-medium);
  font-size: 1.1rem;
  cursor:pointer;
}
.nav_toggle:hover{
  color: var(--first-color);
}
.nav_list{
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

}
.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  color: var(--font-medium);
}
.nav_link:hover{
  color: var(--first-color);
}
.nav_icon{
  font-size: 1.5rem;
}
.nav_close{
  position:absolute;
  right: 1rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav_close:hover{
  color: var(--first-color);
}

@media screen and (max-width:767px){
  .nav_menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgb(0,0,0,.15)
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}
/* show menu */
.show-menu{
  display: block;
}
.remove-menu{
  display: none;
}
/*==================== HOME ====================*/
.home_container{
  gap:1rem;
}
.home_blob{
  left: 0;
}
.home_content{
  grid-template-columns: .5fr 3fr max-content;
  align-items: center;
  padding-top: 3.5rem;
}
.home_social{
  display: grid;
  grid-template-columns: max-content;
  row-gap:1rem;
}
.home_social-icon{
  color: var(--first-color);
  font-size: 1.8rem;
}
.home_social-icon:hover{
  color:var(--first-color-alt);

}
.home_blob{
  width:300px;
  fill: var(--first-color);
}
.home_data{
  grid-column: 1/3;
}
.home_title{
  font-size: var(--big-font-size);
}
.home_subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-0-75);
  font-weight: var(--font-medium);
}
.home_description{
  margin-bottom: var(--mb-2);
}
.home_scroll{

}
.button{
  display: inline-flex;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);

}
.button_icon{
  margin-left: var(--mb-0-5);
  font-size: 1.25rem;
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}
.button:hover{
  background-color: var(--first-color-alt)
}

/*==================== About ====================*/
.about_img{
  width:300px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}
.about_description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
  line-height: 20px;
}
.about_info{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-1);
}

.about_info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  display: block;
  text-align: center;

}
.about_info-name{
  font-size: var(--smaller-font-size);
  display: block;
  text-align: center;
}

.about_buttons{
  display: flex;
  justify-content: center;
  padding: 15px;


}

/*==================== Skills ====================*/

.skills_arrow,
.skills_icon{
  font-size: 2rem;
  color: var(--first-color);
}
.skills_icon{
  margin-right: var(--mb-0-5);
}
.skills_arrow{
  margin-left: auto;
  transition: .4s;
}
.skills_container{
  row-gap: 0;
}
.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;

}
.skills_title{
  font-size: var(--h3-font-size);
}
.skills_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.skills_titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.skills_list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}
.skills_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.skills_number{

}
.skills_bar{
  background-color: var(--first-color-lighter);
}
.skills_percentage{
  display: block;
  background-color: var(--first-color);

}
.skills_bar,
.skills_percentage{
  height: 5px;
  border-radius: .25rem;
}
.skills_html{
  width: 65%;
}
.skills_css{
  width: 50%;
}
.skills_js{
  width: 20%;
}
.skills_java{
  width: 50%;
}
.skills_python{
  width: 20%;
}
.skills_c{
  width: 60%;
}
.skills_close .skills_list{
  height: 0;
  visibility: hidden;
}
.skills_open .skills_list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}
.skills_open .skills_arrow{
  transform: rotate(-180deg);
}

/*==================== Qualification ====================*/

.qualification_tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}
.qualification_button{
  cursor: pointer;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.qualification_button:hover{
  color: var(--first-color);
}
.qualification_icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_sections{
  
}
.qualification_content{

}
.qualification_data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}
.qualification_title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification_subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification_calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qualification_rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification_line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}
.qualification [data-content]{
  display: none;
}
.qualification_active[data-content]{
  display: block;
}
.qualification_button.qualification_active{
  color: var(--first-color);
}
/*==================== Qualification ====================*/
.portfolio_container{
  overflow: initial;
}
.portfolio_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-top: var(--mb-0-2);
}
.portfolio_description{
  margin-bottom: var(--mb-0-75);
  font-size: var(--small-font-size) ;
}
.portfolio_button{

}
.portfolio_button:hover .button_icon{
  transform: translateX(.25rem);
}
.portfolio_data{

}
.portfolio_content{
  padding: 0 ;
}
.portfolio_img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
  margin-top: var(--mb-1);

}
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}
.swiper-portfolio-icon{
  font-size: 1rem;
  color: var(--first-color);
}
.swiper-button-next{
  right: -.5rem;
  color: var(--first-color);
}
.swiper-button-prev{
  right: -.5rem;
}
.swiper-container-horizontal{
  bottom: -2.5rem;
}
.swiper-pagination-bullet-active{
  background: var(--first-color) !important;
}
.swiper-pagination{
  height: 42% !important;
  color: var(--first-color) !important;
}
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet{
  outline: none;
}
/* Contact Me */
.contact_container{
  row-gap: 2rem;
}
.contact_information{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--mb-2);

}
.contact_icon{
  font-size: 2rem;
  color: var(--first-color)
}
.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact_subtitle{
  font-size: var(--smaller-font-size);
}
.contact_content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}
.contact_input{
  width: 100%;
  background-color: var(--input-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;

}
.contact_label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
/* Active link */


/* Change background header */

@@media screen and (min-width: 968px) {
  :root{
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

  }
}

/* ---------------Media Queries --------------*/
/* For Small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav_menu{
    padding: 2rem .25rem 4rem;
    margin-top: .5rem;
  }
  .nav_list{
    column-gap: 0;
  }
  .home_content{
    grid-template-columns: .25fr 3fr  ;
  }
  .home_blob{
    width: 180px;
  }
  .skills_title{
    font-size: var(--normal-font-size)
  }
  .qualification_data{
    gap: .5rem;
  }
}
/* For Medium devices */

@media screen and (max-width: 586px){
  .home_content{
    grid-template-columns: 1fr 1fr max-content;
  }
  .home_data{
    grid-column: initial;
  }
  .home_img{
    order: 1;
    justify-self: center;
  }
  .about_img{
  }
  .about_container,
  .skills_container,
  .portfolio_content,
  .contact_container,
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .qualification_sections{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
}
/* For Large devices */
@media screen and (min-width: 780px){
  .section{
    padding: 6rem 0 2rem;
  }
  .section_subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top: 0;
    bottom: initial;
  }
  .header,
  .main{
    padding: 0 1rem;
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav_icon,
  .nav_close,
  .nav_toggle{
    display: none;
  }
  .nav_list{
  display: flex;
  column-gap: 2rem;
  }
  .nav_menu{
    margin-top: 1rem;
  }
  .home_container{
    row-gap: 5rem;
  }
  .home_content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home_blob{
    width: 270px;
    padding-left: 7rem;
  }
  .about_container{
    column-gap: 5rem;
  }
  .about_img{
    width: 350px;
  }
  .about_description{
    text-align: initial;
  }
  .about_info{
    justify-content: space-between;
  }
  .about_buttons{
    justify-content: initial;
  }

}
